@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular.woff);
}
    
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-bold.woff);
    font-weight: bold;
}

:root {
    --whitespace: 0;
    --line-width: 1px;
    --board-size: 90vmin;
    --background-color: #e8cb87;
    --foreground-color: #905736;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    cursor: default;
    background-color: var(--background-color);
    margin: 0;
    opacity: 0;
    transition: opacity 2s ease;
}

#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#middle {
    display: table-cell;
    vertical-align: middle;
}

#inner {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: var(--foreground-color);
    font-size: calc(var(--board-size) / 3.7);
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
}

.o {
    display: inline-block;
    width: calc(var(--board-size) / 6.5);
    height: calc(var(--board-size) / 6.5);
    border-radius: 50%;
    /* cursor: pointer !important; */
    /* transition: opacity 0.05s ease-in-out; */
}

.o:hover {
    cursor: pointer;
}

.o:nth-child(1):active {
    background-color: #555555;
}

.o:nth-child(2):active {
    background-color: #eeeeee;
}

.board {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    width: calc(var(--board-size) - var(--line-width));
    height: calc(var(--board-size) - var(--line-width));
    gap: var(--line-width);
    padding: var(--line-width);
    background-color: var(--foreground-color);
    margin: auto;
    margin-top: var(--whitespace);
}

.cell {
    width: calc(var(--board-size) / 14 - var(--line-width));
    height: calc(var(--board-size) / 14 - var(--line-width));
    background-color: var(--background-color);

    color: var(--foreground-color);
    /* color: transparent; */
    font-size: calc(var(--board-size) / 14 / 2);
    line-height: 80%;
}

.stone {
    position: absolute;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    cursor: pointer;
    width: calc((var(--board-size) / 14 - var(--line-width)) * 0.9);
    height: calc((var(--board-size) / 14 - var(--line-width)) * 0.9);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    font-size: calc((var(--board-size) / 14 - var(--line-width)) * 0.5);
    font-weight: bold;

    /* opacity: 1; */
    /* background-color: black; */
}

.stone::after {
    content: '';
    position: absolute;
    left: calc((var(--board-size) / 14 - var(--line-width)) * -0.05);
    right: calc((var(--board-size) / 14 - var(--line-width)) * -0.05);
    top: calc((var(--board-size) / 14 - var(--line-width)) * -0.05);
    bottom: calc((var(--board-size) / 14 - var(--line-width)) * -0.05);

    /* opacity: 0.5; */
    /* background-color: red; */
}

.white {
    background-color: white;
    cursor: default;
    opacity: 1;

    color: black;
    /* color: transparent;  */
}

.black {
    background-color: black;
    cursor: default;
    opacity: 1;

    color: white;
    /* color: transparent;  */
}

/* .dot {
    width: calc((var(--board-size) / 14 - var(--line-width)) * 0.2);
    aspect-ratio: 1;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.white.win .dot {
    background-color: black;
    opacity: 1;
}

.black.win .dot {
    background-color: white;
    opacity: 1;
} */

.win {
    border-width: calc((var(--board-size) / 14 - var(--line-width)) * 0.35);
    border-style: solid;
}

.win.white {
    background-color: black;
    border-color: white;
    transition: background-color 0.2s ease-in-out;
   
}

.win.black {
    background-color: white;
    border-color: black;
    transition: background-color 0.2s ease-in-out;
}

.gameover, .gameover * {
   cursor: pointer;
}

.visible {
    opacity: 1;
}

.disappear {
    opacity: 0;
    transition: opacity 0.5s linear !important;
}

/* .blink {
    animation: blink 0.25s ease-in-out forwards;
} */

#designed {
    position: relative;
    color: var(--foreground-color);
    text-align: center;
    align-self: auto;
    font-size: 9px; 
    margin-top: 15px;
}

/* @keyframes blink {

    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    } 
  
    100% {
      opacity: 1;
    } 
} */

/* @media (max-width: 320px), (max-height: 320px) {

    .board {
      margin-top: -25px;
    } 
} */

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        --board-size-big: 406px;
    }

    h1 {
        font-size: 112px;
    }

    .o {
        width: calc(var(--board-size-big) / 6.5);
        height: calc(var(--board-size-big) / 6.5);
    }

    .board {
        width: calc(var(--board-size-big) - var(--line-width));
        height: calc(var(--board-size-big) - var(--line-width));
    }

    .cell {
        width: calc(var(--board-size-big) / 14 - var(--line-width));
        height: calc(var(--board-size-big) / 14 - var(--line-width));

        font-size: calc(var(--board-size-big) / 14 / 3);
    }

    .stone {
        width: calc((var(--board-size-big) / 14 - var(--line-width)) * 0.9);
        height: calc((var(--board-size-big) / 14 - var(--line-width)) * 0.9);

        font-size: calc((var(--board-size-big) / 14 - var(--line-width)) * 0.5);
    }

    .stone::after {
        content: '';
        position: absolute;
        left: calc((var(--board-size-big) / 14 - var(--line-width)) * -0.05);
        right: calc((var(--board-size-big) / 14 - var(--line-width)) * -0.05);
        top: calc((var(--board-size-big) / 14 - var(--line-width)) * -0.05);
        bottom: calc((var(--board-size-big) / 14 - var(--line-width)) * -0.05);
    }

    /* .dot {
        width: calc((var(--board-size-big) / 14 - var(--line-width)) * 0.2);
        aspect-ratio: 1;
    } */

    .win {
        border-width: calc((var(--board-size-big) / 14 - var(--line-width)) * 0.35);
    }

    #designed {
        font-size: 11.2px; 
        margin-top: 16.8px;
    }
}

.noselect {
    -webkit-tap-highlight-color: transparent;
          -webkit-touch-callout: none;
            -webkit-user-select: none; 
               -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none; 
}